.DS_Store
secret.sh
validator_prep
validator_keys
*.tar.gz
selected_validator_keys
.idea
vars.env
mnemonics.yaml
scripts/venv
backups
explorerdata
mergenet.yaml
dshackle.yml
.vscode/settings.json
enrs.json
external_roles
parsedBeaconState.json.big
# Vendored ansible roles and collections defined in 'requirements.yaml'
vendor/*
# General
.DS_Store
.AppleDouble
.LSOverride

# Ansible
ansible/vendor/**
ansible/tmp/**
*.retry

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Sops
**/.decrypted*

# Validator keys
**/files/validator_keys/*
network-configs/**/mnemonics.yaml
